@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Noto+Sans:400,700,500,600");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/6230c0482a303e547d5d7aa7.6230c053d6d8d86528fbe6f7.QuuUvz6.rcp.png");


:root {
  --mdc-theme-background: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-error: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-primary: #293472;
  --mdc-theme-secondary: #fff;
  --mdc-theme-surface: #fff;
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
