.splash {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 393px;
}

.button-raised {
  border: 0px solid;
  border-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 188px;
  position: absolute;
  top: 642px;
}

.button-raised {
  height: auto !important;
  width: auto !important;
}

